{{ define "main" }}
<main class="globalmain">
  <article>
    <h1 class="textheading">{{ .Title }}</h1>
    <!-- Note that the content for an .html file and will pull from _index.md for each section -->
    {{.Content}}
  </article>

  {{ with .CurrentSection }}
  <article tag="topic">
    {{ range where .RegularPages "Type" "!=" "support" }}
    <section>
      <h2 class="textsubheading">
        <time>{{ dateFormat "2006-01-02" .Date }}</time> | {{.Title}}
      </h2>
      {{ .Summary }}
      <a href="{{ .RelPermalink }}"> {{ i18n "listings-readmore"}} </a>
    </section>
    {{ end }}
  </article>
  {{ end }}
</main>
{{ end }}
