<footer class="globalfooter">
  <p>
    <div>{{ i18n "footer-institution" }}</div>
    <div>{{ i18n "footer-department" }}</div>
    <div>{{ i18n "footer-address" }}</div>
  </p>
  <p>
    <span> <a href=http://phys.hiroshima-u.ac.jp/phys >
          <img src="imgs/phyiscshirdai.png" alt="Link to Physics Programs Homepage">
    </a></span>
    <span> <a href=https://core-u.hiroshima-u.ac.jp/ >
          <img src="imgs/Core_U.png" alt="Link to CORE-U English Homepage">
    </a></span>
    <span> <a href=https://www.hiroshima-u.ac.jp/ >
          <img src="imgs/h1_title.png" alt="Link to Hiroshima Univ. Homepage">
    </a></span>
  </p>
  <span>{{ i18n "footer-since"}}</span>
</footer>
