<aside class="globalside">
  <nav class="globalnav">
    <ul>
      {{- range .Site.Menus.main }}
      <li>
        {{ if (eq .Weight 7) }}
          <a href="{{ .URL | relLangURL }}" target="_blank"><span>{{ .Name }}</span></a>
        {{ else }}
          <a href="{{ .URL | relLangURL }}" target="_self"><span>{{ .Name }}</span></a>
        {{ end }}
      </li>
      {{- end }}
    </ul>
    <ul>
      {{- range .Translations }}
      <li>
        <a href="{{ .Permalink }}">{{- .Language.LanguageName }}</a>
      </li>
      {{- end }}
    </ul>
    <ul>
      <li>
        <a href="http://theo.phys.sci.hiroshima-u.ac.jp/~sohaken/Member-Only/pukiwiki2/pukiwiki.php">Members Only</a>
      </li>
    </ul>
  </nav>


  <ul>
    <li>
      <img src="imgs/side_title.png" alt="English Title for Elementary Physics">
    </li>
  </ul>  
</aside>
