<aside class="globalside">
  <nav class="globalnav">
    <ul>
      {{- range .Site.Menus.main }}
      <li>
        <a href="{{ .URL | relLangURL }}"><span>{{ .Name }}</span></a>
      </li>
      {{- end }}
    </ul>
    <ul>
      {{- range .Translations }}
      <li>
        <a href="{{ .Permalink }}">{{- .Language.LanguageName }}</a>
      </li>
      {{- end }}
    </ul>
  </nav>


  <ul>
    <li>
      <img src="imgs/side_title.png" alt="English Title for Elementary Physics">
    </li>
  </ul>
</aside>
