@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additions for cleaner .html files */
.globalbody {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / repeat(12, minmax(0, 1fr));
    /* font-size: 0.875rem; */
    font-size: 1rem;
    color: #4a5568; /* Gray */
    background-color: #f7fafc;
}

.globalheader {
    grid-column: 1 / span 12;
    padding: 1.5rem 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    column-gap: 2rem;
}
.globalheader h:last-child { /* border-solid border border-gray-600 mt-2 */
    flex-basis: 100%;
    border-width: 1.5px;
    border-style: solid;
    border-color: #718096;
}
.globalheader a:nth-child(2) {
    margin-left: auto;
}
.globalheader a:nth-child(1) {
    max-width: 30%;
}
.headerlinks { /* class="block mt-4 inline-block mt-0 text-gray-600 hover:text-gray-700 mr-4" */
    color: #718096; /* Gray */
}
.headerlinks:hover {
    color: #000000;
}

.globalside {
    grid-column: 1 / 3;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 2em;
    /* background-color: #bebebe; */
}
.sidelinks {
    max-width: 50%;
    background-color: #000000;
}

.globalmain {
    grid-column: 3 / -2;
}
.globalfeed { /* class="px-12 py-16 w-full", w-full bg-gray-200 */
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;
    padding: 4rem 3rem;
    background-color: #edf2f7;
}
.globalfeed ul:nth-child(n){
    list-style-type: disc;
    list-style-position: inside;
}
.aboutus { /* px-12 py-16 w-full bg-indigo-900 flex content-between justify-center */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 4rem 3rem;
    background-color: #3c366b;
    text-align: center;
}
.aboutus div:nth-child(n) { /* "max-w-sm rounded overflow-hidden w-1/3" */
    max-width: 24rem;
    border-radius: 0.25rem;
    overflow: hidden;
    color: #f7fafc;
}
.aboutus p:nth-child(n) { /* mt-2 mb-2 */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.membergrid { /* class="grid grid-cols-5 gap-2" */
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.staffImgs {
    border-radius: 50%;
    max-width: 75%;
}

.textheading { /* class="flex uppercase font-thin 1.875rem mb-4" */
    text-transform: uppercase;
    font-weight: 200; /* thin */
    font-size: 1.6rem;
    /* margin-bottom: 1rem; */
    border-bottom: solid;
}
.textsubheading {
    text-transform: capitalize;
    font-size: 1.15rem;
    margin-top: 1rem;
}

.globalfooter {
    grid-column: 1 / -1;
    background-color: #1a202c;
    color: #f7fafc;
    padding: 1.5rem;
    text-align: center;
}