{{ define "main" }}
<main class="globalmain">
  <article>
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </article>

  <article>
    <h1 class="textheading">News</h1>
    {{ $pages := where site.RegularPages "Section" "in" site.Params.mainSections }}
    <!-- Ranges through only content specific to the Parameter mainSections, in config.toml, due to how we defined $pages -->
    {{ range first .Site.Params.paginate $pages }}
    <section tag="newstopic">
      <h2 class="textsubheading">
        <time>{{ dateFormat "2006-01-02" .Date }}</time> | {{.Title}}
      </h2>
      {{ .Description }}
      <a href="{{ .RelPermalink }}"> {{ i18n "listings-readmore"}}</a>
    </section>
    {{ end }}
  </article>
</main>
{{ end }}
