/* Global Settings */
img {max-width:100%;}
ol,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:link {
    text-decoration:underline;
}
a:hover {
    color: #ffffff;
    text-decoration:underline;
}
/* h1,h2,h3,h4,h5,h6,p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
} */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
tbody {
    text-align: center;
}
tbody tr:nth-child(odd) {
    background-color: #ccccff;
}  
tbody tr:nth-child(even) {
    background-color: #ffffff;
}
thead th:nth-child(1) {
    width: 20%;
}
thead th:nth-child(2) {
    width: 15%;
}
thead th:nth-child(3) {
    width: 15%;
}
thead th:nth-child(4) {
    width: 15%;
}
thead th:nth-child(5) {
    width: 15%;
}
thead th:nth-child(6) {
    width: 10%;
}
/* 1. Prevent padding and border from affecting element width.
    We used to set this in the html element and inherit from
    the parent element for everything else. This caused issues
    in shadow-dom-enhanced elements like <details> where the content
    is wrapped by a div with box-sizing set to `content-box`.
    https://github.com/mozdevs/cssremedy/issues/4 */
*,::before,::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #c9f8fe;
}
/* Ensure horizontal rules are visible by default */
hr {border-top-width: 30px;}
/* Work around a Firefox/IE bug where the transparent `button` background
   results in a loss of the default `button` focus styles. */
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
fieldset {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    margin:0;
}
h1,h2,h3,h4,h5,h6,p,table {
    /* Fix to control overflow from paragaph sizes.  This makes reading easer. See for more information https://tex.stackexchange.com/questions/71172/why-are-default-latex-margins-so-big */
    max-width: 65rem;
}

/* Additions for cleaner .html files */
.globalbody {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / repeat(12, minmax(0, 1fr));
    font-size: 1rem;
    background-color: #FFFFFF;
}

.globalheader {
    grid-column: 1 / span 12;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.globalheader a {
    max-width: 40%;
}

.globalside {
    grid-column: 1 / 3;
    font-size: 1.15rem;
}
.globalside ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 1rem;
    padding: 10% 10% 10% 20%;
}
.globalside a:hover {
    color: #ffffff;
    background-color: #b1ff00;
}
.globalside img {
    max-width: 65%;
}

.globalmain {
    grid-column: 3 / -1;
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;
    padding: 0rem 2rem 2rem;
}
.globalfeed ul {
    list-style-type: disc;
    list-style-position: inside;
}

.gmap iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.memberimg {
    border-radius: 30%;
    max-width: 75%;
    object-fit: contain;
}

.textheading {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    border-bottom: solid;
}
.textsubheading {
    text-transform: capitalize;
    font-size: 1.15rem;
    margin-top: 1rem;
}

.globalfooter {
    grid-column: 1 / -1;
    padding: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    bottom: 0;
    color:  #000000;
    background-color: #8fcc91;
    font-weight: bold;
}
.globalfooter span {
    font-size: 75%;
}
.globalfooter img {
    max-width: 150px;
}
.globalfooter a {
    color: none;
    text-decoration: none;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
}
.breadcrumbs li:last-child {
    font-weight: bold;
}
.breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
}
